<h4 id="genre-header"><%= @genre.name %></h4>

<div class="index-container">
<% @genre.movies.each do |movie| %>
  <div class="poster-div">
  <%= link_to movie_reviews_path(movie) do %>
    <img src="<%=movie.poster_url%>" class="index-posters">
  <% end %>
  </div>
<% end %>
</div>

<%= paginate @movies %>