/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

img {
  width: 200px;
  margin: 10px;
}

img.heart {
  width: 20px;
}

* {
  cursor: url('pizza.png'), auto;
}

@font-face {
  font-family: "Broadway_Bold";
  src: url(Broadway_Bold.ttf);
}

h1 {
  font-size: 75px;
  text-shadow: 2px 2px 8px white;
  text-align: center;
  font-family: "Broadway_Bold";
  margin: 40px 0px 0px 0px;
  color: #4bd1d8;
}

h2 {
  font-size: 50px;
  text-shadow: 4px 4px 16px black;
  text-shadow: black 3px 6px;
  text-align: center;
  font-family: "Broadway_Bold";
  margin: 0px 0px 40px 0px;
  color: #e590e1;
}

footer {
  text-align: center;
  font-family: sans-serif;
  margin-top: 200px;
}


button {
     background:none;
     color:inherit;
     border:none;
     padding:0;
     font: inherit;
     cursor: pointer;
}

/*MOVIES INDEX*/
html, body{
  min-height: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background: linear-gradient(#f48342, #4bd1d8);
  background-repeat: no-repeat;
}

.index-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.poster-div {
  display: inline-block;
}

.index-posters {
  max-height: 300px;
  overflow: hidden;
  border: 2px solid #f442f1;
  border-radius: 2px;
  box-shadow: 8px 5px 35px #f442f1;
}

.index-posters:hover {
  outline: none;
  border-color: #42f4f1;
  box-shadow: 0 0 30px #42f4f1;
}

/*MOVIES SHOW*/

img.show-poster {
  width: 250px;
  border-radius: 2px;
  box-shadow: 8px 5px 35px #f442f1
}

/* Create three equal columns*/
#grid {
  display: grid;
  grid-auto-columns: 33.3%;
}

#show-poster-column {
  margin: 10px;
  text-align: center;
}

#show-review-column{
  background-color: rgba(246, 247, 234, 0.55);
  border-style: none;
  border-color: none;
  border-radius: 5px;
  grid-column: 2 / 3;
  margin: 20px;
  padding: 10px;
  text-align: center;
}


#show-form-column {
  grid-column: 3 / 3;
  margin: 10px;
  text-align: center;
}


/* Editing Navigation for Pagination */
.pagination {
  text-align: center;
  color: #f6f7ea ;
}
