<!DOCTYPE html>
<html>
  <head>
    <title>No Scrubs Movie Reviews Entertainment Productions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>No Scrubs Movie Reviews Entertainment Productions</h1>

    <%= yield %>
    <footer>Couldn't happen without our boy, Vince</footer>

  </body>

</html>
